#Commute{
    padding-top:150px;
}


.commute-page {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.commute-date {
  text-align: center;
  padding-bottom: 40px;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}



.commute-btn {
  margin: 0 auto;

  display: flex;
  padding: 40px 0 80px;
  justify-content: center;
}

.commute-btn .btn {
    width: 292px;
    height: 100px;
    font-size: 25px;
    border-radius: 14px;
    background: #444263;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.commute-btn .btn:hover{
    background-color: #5b5983;
}

.commute-btn .leave{
    margin-left:10px;

}

.commute-user {
  text-align: center;
}

.commute-user .commute-user-name{
    color: #333;
    font-size:20px;
    font-weight: 700;
}

.commute-result{
    text-align: center;
}

@media screen and (max-width: 600px) {
    body #Commute{
        padding-top:20px;
    }

    body .commute-btn .btn{
        height:70px;
    }
}