.menu {
  display: none;
}

.menu-on .menu {
  display: block;
  position: relative;
}

.menu-on .menu-active {
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}


.menu-side {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  transform-origin:50% 50%;
  transition:0.5s;
}

.menu-side.on {
    right:0
}

.menu-on .side-tit {
  position: relative;
  padding: 0px 40px;
  border-bottom: 1px solid #eae8e4;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.menu-on .side-tit h1 {
  font-size: 20px;
}

.menu-on .side-tit .tit-logo {
  display: flex;
  align-items: center;
}

.menu-on .side-tit .side-close:hover {
  cursor: pointer;
  background-color: #eae8e4;
}

.menu-on .side-tab {
  padding: 40px 40px;
}

.menu-on .user-info h3 {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.menu-on .user-menu li {
  padding: 6px;
}
