

.inner-items{
    overflow: hidden;
    width: 990px;
}

.inner-items .list{
    overflow: hidden;
    width: 1008px;
}

.inner-items .list li{
    float: left;
    width: 322px;
    height: 430px;
    padding: 25px 28px 0 0;
}

.list .menu-img{
    display: block;
    position: relative;
    width: 100%;
    height: 370px;
    background-color: #f9f8f9;
}

.list .menu-name{
    overflow: hidden;
    max-height: 58px;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}