#CategoryManage {
  padding-left: 550px;
  .manage-tit {
    margin-bottom: 2rem;
    span {
      font-weight: 500;
      color: rgb(55, 71, 79);
      font-size: 1.5rem;
      padding: 5px;
      margin-right: 15px;
    }
    a {
      margin: 0 20px;
      background-color: #4a3cea;
      color: #fff;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 16px;
    }
  }
  .category-list-table {
    .search-box {
      overflow: hidden;
      padding: 20px 40px;
      input {
        float: right;
        padding: 10px;
        border: 1px solid #d3cece;
        width: 250px;
        border-radius: 7px;
      }
    }
  }

  .category-list {
    padding: 20px;
    table {
      width: 100%;
    }
  }
}

.inner-manage {
  width: 85%;
  margin: 0 auto;
}
