#Aside {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 2rem 0 3rem 3rem;
  .inner-side {
    display: flex;
    flex-direction: column;
    height: 100%;

    .side-tit {
      font-size: 22px;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      svg {
        color: #4a3cea;
      }
    }

    .apps-list {
      flex: 1 1 0%;
      width: 170px;
    }

    .develop-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      svg {
        color: #4a3cea;
      }
      a {
        margin-left: 5px;
        color: #848385;
      }
    }
  }
}

.nav-title {
  padding: 10px;
  color: rgb(84, 110, 122);
}

#Aside .nav li {
  margin: 4px 0;
  border-radius: 10px;
}

.nav li a {
  color: #7e7c7c;
  font-size: 17px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.nav li a svg {
  margin-right: 5px;
}
