#RecipeDetail {
  min-height: auto;
  .page-inner {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 200px;
    min-width: 1050px;
    .inner-detail {
      overflow: hidden;
      width: 1050px;
      margin: 0 auto;
      .menu-left {
        float: left;
        width: 430px;
        img {
          width: 100%;
          height: 552px;
        }
      }
      .menu-right {
        float: right;
        width: 560px;
        .menu-btn {
          button,
          a {
            float: right;
            width: 75px;
            height: 30px;
          }
          a {
            text-align: center;
            line-height: 19px;
            font-size: 14px;
            color: #fff;
          }
        }
        .menu-name {
          span {
            font-size: 24px;
          }
        }
        .menu-description {
          padding-top: 6px;
          margin-bottom: 20px;
          p {
            display: block;
            font-size: 14px;
            color: #999;
            font-family: auto;
          }
        }

        .menu-recipe {
          border-top: 1px solid #f4f4f4;
          padding: 10px 0;
          height: 40vh;
        }
      }
    }
  }
}
