.authForm {
  form {
    label {
      margin: 10px 0;
      display: block;
      span {
        color: #4a3cea;
      }
    }
    input {
      border: 1px solid #bcbbbb;
      width: 100%;
      border-radius: 20px;
      padding: 15px;
    }
    button {
      display: flex;
      align-items: center;
      border: 1px solid #bcbbbb;
      width: 100%;
      border-radius: 20px;
      padding: 15px;
      font-size: 14px;
      margin-top: 30px;
      font-weight: 700;
      background-color: #4a3cea;
      color: #fff;
      justify-content: center;
    }
  }
}
