#RecipeDetail {
  .page-inner {
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
    min-width: 1050px;
    .inner-detail {
      overflow: hidden;
      width: 1050px;
      margin: 0 auto;
      .menu-left {
        float: left;
        img {
          width: 430px;
          height: 552px;
        }
      }
      .menu-right {
        float: right;
        width: 560px;
        .name {
          padding-right: 30px;
          font-size: 24px;
        }
        .menu-recipe {
          margin-top: 30px;
          
        }
      }
    }
  }
}
