#AccountInfoForm {
  .middle-cont {
    padding: 40px;
    .inner-cont {
      width: 600px;
      margin: 50px auto;
      .tit {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
      }
    }
  }
}
