#Menu-category {
  padding-top: 26px;
}

#Menu-category .nav-list {
  overflow: hidden;
  width: 870px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 15px;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  padding: 0 13px 7px 12px;
  letter-spacing: -0.3px;
  line-height: 20px;
  font-size: 14px;
}
