#Notice {
  padding-bottom: 200px;
  overflow: hidden;

  .upload-comm {
    overflow: hidden;
    margin: 10px 20px;
    a {
      float: right;
      padding: 8px 16px;
      font-size: 16px;
    }
  }

  
}
