/* #Header {
  margin: 0 auto;
  min-width: 320px;
  position: relative;
  padding: 30px;
  border-bottom: 1px solid #ebebeb;
}


.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1050px;
  justify-content: space-between;
  margin: 0 auto;
}

.header-logo h1 {
  padding-right: 20px;
  font-family: "Patrick Hand", cursive;
  font-family: "Sniglet", cursive;
  font-size: 30px;
}

.header-nav ul li{
  float:left;
}

.header-nav ul li a{
  padding:8px;
}





@media screen and (max-width: 600px) {
    body #Header{
        padding:15px;
    }

    body .login-form .login-form-tit{
        padding-top:30px; 
    }

  

    body .header-logo h1{
        font-size:20px;
    }

  } */

#Header {
  border-bottom: 1px solid #d8d5d5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  min-width: 1100px;
}

.header-menu {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.header-logo {
  padding-left: 20px;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.header-logo svg {
  color: rgb(18, 113, 175);
}

.header-logo .h1 {
  padding: 0px 60px 0px 15px;
  font-size: 25px;
  color: rgb(3 64 104);
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav .left-nav li {
  float: left;
  font-size: 16px;
  border-radius: 10px;
}

.header-nav .left-nav li a {
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
}

.header-nav .right-nav li {
  float: left;
  padding: 10px 13px;
  font-size: 16px;
}

.header-nav .right-nav li:last-child {
  margin-right: 45px;
}
