#Header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  min-width: 1100px;
}

.header-menu {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  height: 70px;
}

.header-logo {
  padding-left: 20px;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.header-logo svg {
  color: #000;
}

.header-logo .h1 {
  padding: 0px 60px 0px 15px;
  font-size: 25px;
  color: #000;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav .left-nav li {
  float: left;
  font-size: 16px;
  border-radius: 10px;
}

.header-nav .left-nav li a {
  color: rgb(84, 110, 122);
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10px;
}

.header-nav .right-nav li {
  float: left;
  padding: 10px 13px;
  font-size: 16px;
}

.header-nav .right-nav li:last-child {
  margin-right: 45px;
}

@media screen and( max-width: 1440px) {
  body {
    #Header {
      .header-menu {
        height: 50px;

        .header-nav {
          .nav {
            li {
              a {
                span {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
