#Header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.header-menu {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  height: 70px;
}

.mobile-btn {
  display: none;
}

.header-logo {
  padding-left: 20px;
}

.header-logo a {
  display: flex;
  align-items: center;
}

.header-logo svg {
  color: #000;
}

.header-logo .h1 {
  padding: 0px 60px 0px 15px;
  font-size: 25px;
  color: #000;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-nav .left-nav li {
  float: left;
  font-size: 16px;
  border-radius: 10px;
}

.header-nav .left-nav li a {
  color: rgb(84, 110, 122);
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 10px;
}

.header-nav .right-nav li {
  float: left;
  padding: 10px 13px;
  font-size: 16px;
}

.header-nav .right-nav li:last-child {
  margin-right: 45px;
}

@media screen and( max-width: 1440px) {
  body {
    #Header {
      .header-menu {
        height: 50px;

        .header-nav {
          .nav {
            li {
              a {
                flex-direction: column;
                span {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  body {
    #Header {
      .header-menu {
        display: flex;
        flex-direction: column;
        height: 300px;
        padding: 5px 0;
        position: relative;
        .header-logo {
          padding-bottom: 10px;
          a {
            justify-content: center;
          }
          .mobile-btn {
            display: block;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
          }
        }
        .header-nav {
          flex-direction: column;
          background-color: #fff;
          .nav {
            width: 100%;

            ul {
              display: flex;
              flex-direction: column;
              .list {
                margin-right: 0px;
                .logout {
                  display: flex;

                  justify-content: center;
                }

                a {
                  margin-left: 0px;

                  border-radius: 0px;
                }
              }
              .list:hover {
                background-color: rgb(236, 239, 241);
              }
            }
          }
        }
      }
    }
  }
}
