.table-comm {
  overflow: hidden;
  border-top: 2px solid #4d4d4d;
  word-break: normal;
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    colgroup {
      .left {
        width: 81%;
      }
      .right {
        width: 19%;
      }
    }
    th {
      padding: 15px 20px;
      color: #1e1e1e;
      border-left: 0 none;
      text-align: center;
      border-bottom: 1px solid #e6e6e6;
      font-weight: normal;
      font-size: 14px;
    }
    td {
      border-bottom: 1px solid #e6e6e6;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
    }
    .td-left {
      text-align: left;
      border-left: 0 none;
      border-bottom: 1px solid #e6e6e6;
      font-size: 14px;
      line-height: 26px;
      color: #666;
      .inner-cont {
        padding: 15px 60px 14px 20px;
        .inner-text {
          position: relative;
          display: inline-block;
          max-width: 100%;
          padding-right: 17px;
          vertical-align: top;
          .link-text {
            color: #1e1e1e;
            line-height: 24px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
          }
          .important {
            color: #ff4e59;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
    .inner-cont {
      padding: 15px 20px 14px;
    }
  }
}

.paging-comm {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 30px;
  text-align: center;

  .inner-paging {
    display: flex;
    justify-content: center;
    a {
      cursor: pointer;
    }
    .paging-btn {
      display: block;
      float: left;
      width: 28px;
      height: 28px;
      margin: 0 3px;
      border: 1px solid #e6e6e6;
      text-align: center;
      svg {
        margin: 5px 0 auto;
      }
    }
    .active {
      font-weight: bold;
      line-height: 27px;
      color: #1e1e1e;
      text-decoration: underline;
    }
    .paging-link {
      float: left;
      margin-left: 25px;
      font-size: 14px;
      line-height: 28px;
      color: #666;
    }
    .paging-next {
      margin-left: 30px;
    }
  }
}
