#Login{
    max-width:1050px;
    margin: 0 auto;

}

.login-form{
    min-width: 340px;
    max-width: 600px;
    margin: 0 auto;
    padding:20px;
}

.login-form .login-form-tit{
    text-align: center;
    padding-top:150px;
    padding-bottom:40px;
    font-size:35px;
    color:#333;
    margin-bottom: 10px;
}
.login-form .login-input{
    width:100%;
    height:45px;
    margin: 5px 0;
}

.login-form .login-input{
    padding:5px
}

.login-form button{
    width:100%;
    height:40px;
}

.login-form .login-manage{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.login-form .login-manage .save-id{
    display:flex;
    align-items: center;
    height:100%;
    font-size:13px;
}

.login-form .login-manage .checkbox{
    width: 16px;
    height: 14px;
    margin-right: 2px;
}

.login-manage .find-accounts{
    font-size:13px;
}

.login-manage .find-accounts span{
    padding: 0 4px;
}

.login-form .login-btn{
    margin: 5px 0;
    background-color:#333;
    border:none;
    color:#fff;
    font-size: 15px;
    font-weight: 700;
}

.join-link{
    font-size: 13px;
}

.join-link .join-link-btn a{
    color: #333;
    text-decoration: underline;
}