#ManageNav {
  background-color: rgb(245, 245, 245);
  position: fixed;
  top: 0;
  height: 100%;
  left: 250px;
  width: 230px;
  .nav-tit {
    font-size: 20px;
    color: rgb(55, 71, 79);
    padding: 30px 30px 0;
  }
  .nav-tit-des {
    color: rgb(153, 156, 158);
    font-size: 14px;
    padding: 10px 30px;
  }
  .nav-menu {
    margin: 60px 0;
    ul {
      li {
        padding: 10px 30px;
        &:first-child {
          background: #e4e4e4;
          .menu-tit {
            color: #000;
          }
        }
        &:hover {
          background: #e4e4e4;
          .menu-tit {
            color: #000;
          }
        }
        .menu-tit {
          display: flex;
          align-items: center;
          color: #999;
          svg {
            margin-right: 7px;
          }
        }
        .menu-des {
          font-size: 12px;
          color: #999;
        }
      }
    }
  }
}
